h1 {
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 4px #2f0d0d;
  letter-spacing: 25px;
  font-size: 50px;
  background-image: url("https://media.glamour.com/photos/56e1f9b462b398fa64cbea2e/master/w_1024,c_limit/sex-love-life-2016-01-LoveYou-main.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 13%;
}

img #user-photo {
  width: 50%;
  margin-top: 3%;
}

#user-photo:hover {
  opacity: 0.8;
  width: 51%;
  cursor: pointer;
}

.match-list-photos {
  text-align: center;
}

.card {
  background-color: #EDD1D2;
}
