h1 {
  text-align: center;
  color: #6c6666;
  text-shadow: 2px 4px #2f0d0d;
  letter-spacing: 15px;
  font-size: 50px;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/ltCMCZy/out-of-focus-bokeh-shot-of-sky-and-sunshine-shining-through-leaves-makes-a-nice-abstract-background_m1z2gvmi__F0000.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4%;
}

.card-block {
    color: #6c6666;
}

#user-photo {
  width: 50%;
  margin-top: 3%;
  border-radius: 50%;
}

.img-border {
  border: solid #b5b2b2 1px;
  padding: 1%;
}

#user-photo:hover  {
  opacity: 0.8;
  cursor: pointer;
}

.hover-text {
  color: #f1f1f1;
  position: absolute;
  font-size: 36px;
  top: 38%;
  left: 39%;
  overflow: hidden;
  display:none;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 200;

}

.img-border:hover + .hover-text{
   display:block;
    

}
/*.card {
  background-color: #EDD1D2;
}*/

.card-img-top {
}

.fa-check {
position: absolute;
left: 84%;
bottom: 55%;
border: solid #b5b2b2 1px;
padding:1%;
border-radius: 50%;
color: #6c6666;
box-shadow: 1px 3px 3px #e6e5e5;
}

.grow1:hover {
   transform: scale(1.1);
   box-shadow: 3px 6px 6px #e6e5e5;
}

.fa-times {
  position: absolute;
  right: 84%;
  bottom: 55%;
  border: solid #b5b2b2
 1px;
  padding: 11px 20px;
  border-radius: 50%;
  width: 4.90rem;
  height: 4.90rem;
  color: #6c6666;
  box-shadow: 1px 3px 3px #e6e5e5;
}

a{
  cursor: pointer;
}

.matchForm {
position: fixed;
width: 50%;
left: 30%;
top: 50%;
background-color: #ff8080;
border-radius: 10px;
padding: 40px;
z-index: 99 !important;
}
