<h2>Potential Matches</h2>

<!-- <label>Filter by age:</label>
<select (change)="onAgeChange($event.target.value)">
  <option value="allAges" selected="selected">All Ages</option>
  <option value="25-30">25-30</option>
  <option value="30-35">30-35</option>
  <option value="35-40">35-40</option>
  <option value="40-45">40-45</option>
  <option value="45-50">45-50</option>
</select> -->

<div *ngFor="let user of users | async" class="card mb-3">
  <div *ngIf ="user" class="card text-center">
    <p class="match-list-photos"><img (click) = "goToDetailPage(user)" class="card-img-top" src="{{user.image}}" alt="match image"></p>
    <div class="card-block">
      <h4 class="card-title">{{user.username}}, {{user.age}}</h4>
      <h5>{{user.location}}</h5>
      <h5>{{user.sign}}</h5>
      <h6>{{user.gender}}</h6>
      <p class="card-text"><strong>About:</strong> {{user.description}}</p>
    </div>
  </div>
</div>
