<h1>Potential Matches</h1>
<div class="container">
  <div class="card mb-3">
    <div *ngIf ="currentPotentialMatch" class="card text-center">
      <p class="match-list-photos"><img id="user-photo" (click) = "goToDetailPage(currentPotentialMatch)" class="card-img-top" src="{{currentPotentialMatch.image}}" alt="match image"></p>
      <a class=""><i class="fa fa-check  fa-3x" aria-hidden="true"></i></a>
      <a><i class="fa fa-times fa-3x" aria-hidden="true"></i></a>
      <div class="card-block">
        <h4 class="card-title">{{currentPotentialMatch.currentPotentialMatchname}}, {{currentPotentialMatch.age}}</h4>
        <h5>{{currentPotentialMatch.location}}</h5>
        <h5>{{currentPotentialMatch.sign}}</h5>
        <h6>{{currentPotentialMatch.gender}}</h6>
        <p class="card-text"><strong>About:</strong> {{currentPotentialMatch.description}}</p>
      </div>
    </div>
  </div>

</div>

<!-- <div class="test">
  <div *ngIf="returnedUser">
    <p>{{returnedUser.username}}</p>
    <p>{{returnedUser.email}}</p>
    <p>{{returnedUser.gender}}</p>
  </div>
</div> -->
