#user-photo {
  width: 50%;
  margin-top: 3%;
}

#user-photo:hover {
  opacity: 0.8;
  width: 51%;
  cursor: pointer;
}

h2 {
  text-align: center;
}

.match-list-photos {
  text-align: center;
}

.card {
  background-color: #EDD1D2;
}
