.about {
  background-color: #D4D6DC;
}

h1 {
  text-align: center;
  margin-top: 2%;
}

h3 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
}

img {
  width: 50%;
}

img:hover {
  width: 51%;
  cursor: pointer;
  opacity: 0.9;
}

.sign-photo {
  text-align: center;
}

h5 {
  text-align: center;
}

.card {
  background-color: #EDD1D2;
}
