<div class="container">



  <h3>Fire Signs</h3>
  <h5>The Trailblazers of the Zodiac</h5>
  <p>Ruled by the quick and active Fire element, these three zodiac signs are all about initiation, enthusiasm, courage, and moving forward. They shine a bright light on life and command attention wherever they go. Always ready to instigate others and start something new, Aries, Leo, and Sagittarius are the true trailblazers of the zodiac.</p>

  <div class="card-deck">
    <div class="card">
      <p class="sign-photo"><img class="card-img-top" src="resources/img/aries.png" alt="Card image cap"></p>
      <div class="card-block">
        <h4 class="card-title">Aries</h4>
        <h6 class="card-subtitle mb-2 text-muted">March 21 – April 19</h6>

        <p class="card-text"><strong>Strengths:</strong> courageous, determined, confident, enthusiastic, optimistic, honest, passionate</p>
        <p class="card-text"><strong>Weaknesses:</strong> courageous, determined, confident, ent impatient, moody, short-tempered, impulsive, aggressive</p>
      </div>
    </div>

    <div class="card">
      <p class="sign-photo"><img class="card-img-top" src="resources/img/leo.png" alt="Card image cap"></p>
      <div class="card-block">
        <h4 class="card-title">Leo</h4>
        <h6 class="card-subtitle mb-2 text-muted">July 23 – Aug. 22</h6>
        <p class="card-text"><strong>Strengths:</strong> creative, passionate, generous, warm-hearted, cheerful, humorous</p>
        <p class="card-text"><strong>Weaknesses:</strong> courageous, determined, confident, ent arrogant, stubborn, self-centered, lazy, inflexible</p>
      </div>
    </div>
    <div class="card">
      <p class="sign-photo"><img class="card-img-top" src="resources/img/sagittarius.png" alt="Card image cap"></p>
      <div class="card-block">
        <h4 class="card-title">Sagittarius</h4>
        <h6 class="card-subtitle mb-2 text-muted">Nov. 22 – Dec. 21</h6>
        <p class="card-text"><strong>Strengths:</strong> generous, idealistic, great sense of humor</p>
        <p class="card-text"><strong>Weaknesses:</strong> courageous, determined, confident, ent promises more than can deliver, very impatient, will say anything no matter how undiplomatic</p>
      </div>
    </div>
  </div>


  <h3>Earth Signs</h3>
  <h5>The Pragmatists of the Zodiac</h5>
  <p>Under the influence of the solid and practical Earth element, these three zodiac signs thrive on strength, determination, and practicality, and are at one with the physical world. They are focused and disciplined, eager to get the job done. Creating a true sense of foundation and security in the world, Taurus, Virgo, and Capricorn are the most pragmatic signs of the zodiac.</p>

  <div class="card-deck">
    <div class="card">
      <p class="sign-photo"><img class="card-img-top" src="resources/img/taurus.png" alt="Card image cap"></p>
      <div class="card-block">
        <h4 class="card-title">Taurus</h4>
        <h6 class="card-subtitle mb-2 text-muted">April 20 – May 20</h6>
        <p class="card-text"><strong>Strengths:</strong> reliable, patient, practical, devoted, responsible, stable</p>
        <p class="card-text"><strong>Weaknesses:</strong> courageous, determined, confident, ent stubborn, possessive, uncompromising</p>
      </div>
    </div>
    <div class="card">
      <p class="sign-photo"><img class="card-img-top" src="resources/img/virgo.png" alt="Card image cap"></p>
      <div class="card-block">
        <h4 class="card-title">Virgo</h4>
        <h6 class="card-subtitle mb-2 text-muted">Aug. 23 – Sept. 22</h6>
        <p class="card-text"><strong>Strengths:</strong> loyal, analytical, kind, hardworking, practical</p>
        <p class="card-text"><strong>Weaknesses:</strong> courageous, determined, confident, ent shyness, worry, overly critical of self and others, all work and no play</p>
      </div>
    </div>
    <div class="card">
      <p class="sign-photo"><img class="card-img-top" src="resources/img/capricorn.png" alt="Card image cap"></p>
      <div class="card-block">
        <h4 class="card-title">Capricorn</h4>
        <h6 class="card-subtitle mb-2 text-muted">Dec. 22 – Jan. 19</h6>
        <p class="card-text"><strong>Strengths:</strong> responsible, disciplined, self-control, good managers</p>
        <p class="card-text"><strong>Weaknesses:</strong> courageous, determined, confident, ent know-it-all, unforgiving, condescending, expecting the worst</p>
      </div>
    </div>
  </div>

  <h3>Air Signs</h3>
  <h5>The Intellects of the Zodiac</h5>

  <p>Ruled by the clear and direct Air element, these three zodiac signs embrace truth, conversation, and ideas. They are communicators, mediators, and fighters of truth and justice. With sharp minds and a real sense of social awareness, Gemini, Libra, and Aquarius are the intellects of the zodiac.</p>

  <div class="card-deck">
    <div class="card">
      <p class="sign-photo"><img class="card-img-top" src="resources/img/gemini.png" alt="Card image cap"></p>
      <div class="card-block">
        <h4 class="card-title">Gemini</h4>
        <h6 class="card-subtitle mb-2 text-muted">May 21 – June 20</h6>
        <p class="card-text"><strong>Strengths:</strong> gentle, affectionate, curious, adaptable, ability to learn quickly and exchange ideas</p>
        <p class="card-text"><strong>Weaknesses:</strong> courageous, determined, confident, ent nervous, inconsistent, indecisive</p>
      </div>
    </div>
    <div class="card">
      <p class="sign-photo"><img class="card-img-top" src="resources/img/libra.png" alt="Card image cap"></p>
      <div class="card-block">
        <h4 class="card-title">Libra</h4>
        <h6 class="card-subtitle mb-2 text-muted">Sept. 23 – Oct. 22</h6>
        <p class="card-text"><strong>Strengths:</strong> cooperative, diplomatic, gracious, fair-minded, social</p>
        <p class="card-text"><strong>Weaknesses:</strong> courageous, determined, confident, ent indecisive, avoids confrontations, will carry a grudge, self-pity</p>
      </div>
    </div>
    <div class="card">
      <p class="sign-photo"><img class="card-img-top" src="resources/img/aquarius.png" alt="Card image cap"></p>
      <div class="card-block">
        <h4 class="card-title">Aquarius</h4>
        <h6 class="card-subtitle mb-2 text-muted">Jan. 20 – Feb. 18</h6>
        <p class="card-text"><strong>Strengths:</strong> Progressive, original, independent, humanitarian</p>
        <p class="card-text"><strong>Weaknesses:</strong> courageous, determined, confident, ent Runs from emotional expression, temperamental, uncompromising, aloof</p>
      </div>
    </div>
  </div>

  <h3>Water Signs</h3>
  <h5>The Intuitives of the Zodiac</h5>

  <p>With Water as their guiding force, these three zodiac signs have soft hearts, open minds, and old souls. They are lovers and nurturers, and live their lives with a deep understanding of what's happening around them -- the seen and the unseen. Sensitive, soulful, and connected, Cancer, Scorpio, and Pisces are the intuitives of the zodiac.</p>

  <div class="card-deck">
    <div class="card">
      <p class="sign-photo"><img class="card-img-top" src="resources/img/cancer.png" alt="Card image cap"></p>
      <div class="card-block">
        <h4 class="card-title">Cancer</h4>
        <h6 class="card-subtitle mb-2 text-muted">June 21 – July 22</h6>
        <p class="card-text"><strong>Strengths:</strong> tenacious, highly imaginative, loyal, emotional, sympathetic, persuasive</p>
        <p class="card-text"><strong>Weaknesses:</strong> courageous, determined, confident, ent moody, pessimistic, suspicious, manipulative, insecure</p>
      </div>
    </div>
    <div class="card">
      <p class="sign-photo"><img class="card-img-top" src="resources/img/scorpio.png" alt="Card image cap"></p>
      <div class="card-block">
        <h4 class="card-title">Scorpio</h4>
        <h6 class="card-subtitle mb-2 text-muted">Oct. 23 – Nov. 21</h6>
        <p class="card-text"><strong>Strengths:</strong> resourceful, brave, passionate, stubborn, a true friend</p>
        <p class="card-text"><strong>Weaknesses:</strong> courageous, determined, confident, ent distrusting, jealous, secretive, violent</p>
      </div>
    </div>
    <div class="card">
      <p class="sign-photo"><img class="card-img-top" src="resources/img/pisces.png" alt="Card image cap"></p>
      <div class="card-block">
        <h4 class="card-title">Pisces</h4>
        <h6 class="card-subtitle mb-2 text-muted">Feb. 19 – March 20</h6>
        <p class="card-text"><strong>Strengths:</strong> Compassionate, artistic, intuitive, gentle, wise, musical</p>
        <p class="card-text"><strong>Weaknesses:</strong> courageous, determined, confident, ent Fearful, overly trusting, sad, desire to escape reality, can be a victim or a martyr</p>
      </div>
    </div>
  </div>

</div>
