<div class="container">
  <h2>Currently under construction</h2>
  <div class="button">
    <button class="btn btn-success" routerLink="">Back to Matches</button>
  </div>

  <div *ngIf="matchedListObservable | async" class="card matched-section">
    <div *ngFor="let match of matchedList">
      <div class="card card-outline-primary mb-3 text-center">
        <div class="card-block">
          <p class="match-names">{{match.username}}</p>
          <button (click)="openChat(match)" class="btn btn-info">Send Chat</button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="matchChat">
  <div class="match-log">
    <div *ngFor="let message of globalChatLog">
      <p>{{message}}</p>
    </div>
  </div>


  <form (submit)="sendMessage($event)">>
    <input type="text">
    <button type="submit">Send</button>
  </form>
</div>
