<h1>Sign In</h1>
<div class="signup-link">
  <a class="signup-click" routerLink="/signup">Create New Account</a>
</div>

<div class="card">
  <div class="sign-in">
    <form (submit)="logIn($event)">
    <div class="row">
        <div class="col-md-5">
          <div class="input">
            <label>Email:</label>
            <input type="email" required>
          </div>
        </div>

        <div class="col-md-5">
          <div class="input">
            <label>Password:</label>
            <input type="password" required>
          </div>
        </div>

        <div class="col-md-2">
          <div>
            <button type="submit" class="btn btn-info login-btn">Log In</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
